:root {
  --bs-green: #198754;
}

#search-results {
  gap: 10px;
}

.card-img-top {
  width: 150px;
  height: 150px;
}

.card {
  height: auto;
}

.card-text {
  font-size: 14px;
}

footer {
  background-color: var(--bs-green);
  border-top: 3px solid lightgreen;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 12px;
}

footer a:hover {
  color: lightgreen;
}