:root {
  --bs-green: #198754;
}

::selection {
  background: var(--bs-green);
  color: white;
}

.navbar {
  background-color: black;
  color: white;
  border-bottom: 2px solid #4e4e4e;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);

}

.navbar .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-brand {
  color: white;
}

.navbar-brand:hover {
  color: white;
}

#search-box {
  background-color: #4c4c4c;
  border: none;
  color: lightgray;
}

#search-box-btn {
  background-color: #4c4c4c;
}

#search-box:hover, #search-box-btn:hover {
  color: lightgreen;
}

#search-box:focus {
  background-color: #e6e6e6;
  color: black;
  /* border: 2px solid var(--bs-green); */
  box-shadow: inset 0 2px 4px rgba(25, 135, 84, 0.75), 0 0 8px rgba(25, 135, 84, 0.75);
}

#search-results {
  gap: 10px;
}

input[type='radio'] {
  accent-color: var(--bs-green);
}

#flexSwitchCheckChecked:checked {
  background-color: var(--bs-green);
  border: none;
}

#flexSwitchCheckChecked:focus,  #flexSwitchCheckChecked:active {
  border-color: var(--bs-green);
  box-shadow: inset 0 1px 1px rgba(25, 135, 84, 0.75), 0 0 8px rgba(25, 135, 84, 0.75);
}

#flexSwitchCheckChecked {
  color: var(--bs-green);
}

#watchlist {
  margin-top: 120px;
}

#watchlist-link {
  margin-right: auto;
}

#watchlist-link .nav-link {
  color: white;
  font-size: 20px;
}

#watchlist-link:hover .nav-link {
  color: lightgreen
}

#media-type-selection input {
  margin-left: 10px;
}

.results-info-container {
  margin-top: 40px;
}

#results-info {
  margin-top: 90px;
}

.card-img-top {
  width: 150px;
  height: 225px;
}

.card {
  height: 100%;
}

.card-text {
  font-size: 14px;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.imdbID-text {
  color: gray;
  font-size: 10px;
  font-family: monospace;
}

.container {
  margin-top: 20px;
}

footer {
  background-color: var(--bs-green);
  border-top: 3px solid lightgreen;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 12px;
}

footer a:hover {
  color: lightgreen;
}

#watchlist-header {
  margin-top: 120px;
  margin-bottom: 20px;
  background-color: var(--bs-green);
  color: white;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid lightgreen;
  border-radius: 6px;
  -webkit-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.75);
}

#watchlist-results {
  gap: 10px;
  margin-bottom: 100px;
}

#watchlist-empty-message {
  margin-bottom: 40px;
  font-weight: bold;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #nav-group {
    display: flex;
    flex-wrap: nowrap;
  }
  
  #watchlist-header {
    margin-top: 175px;
  }
}