:root {
  --bs-green: #198754;
}

#search-results {
  gap: 10px;
}

.card-img-top {
  width: 150px;
  height: 225px;
}

.card {
  height: 100%;
}

.card-text {
  font-size: 14px;
}

footer {
  background-color: var(--bs-green);
  border-top: 3px solid lightgreen;
}

footer a {
  text-decoration: none;
  color: white;
  font-family: monospace;
  font-size: 12px;
}

footer a:hover {
  color: lightgreen;
}

.card-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}